:root{
    --color-mob:#FFB6C1;
    --color-tab:#fff8b6;
    --color-Laptop:#b6faff;
    --color-Desktop:#dfb6ff;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-size: 35px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.container{
    display:grid;
    place-items:center;
    background-color:white;
    height:100vh;
}

#size{
    position:fixed;
    top:60%;
    left:50%;
    transform:translateX(-50%);
    font-size:35px;
    color:blue;
}

@media screen and(min-width:576px)
{
    .container{background-color:var(--color-mob)}
}

 /* Mobile -> 576px
Tablet -> 768px
Laptop -> 992px
Desktop -> 1200px */
